<!doctype html>
%html{:lang => "pl"}
  %head
    %meta{:charset => "utf-8"}/
    %title Używalność
    %meta{:content => "Mikołaj Pastuszko", :name => "author"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "css/reveal.min.css", :rel => "stylesheet"}/
    %link#theme{:href => "css/theme/default.css", :rel => "stylesheet"}/
    %link{:href => "css/custom.css", :rel => "stylesheet"}/
    / For syntax highlighting
    %link{:href => "lib/css/zenburn.css", :rel => "stylesheet"}/
    / If the query includes 'print-pdf', use the PDF print sheet
    :javascript
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    /[if lt IE 9]
      <script src="lib/js/html5shiv.js"></script>
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        %section
          %section
            %h1{:style => "margin-top: 1em;"}
              %emph> U
              żywalność
            %p{:style => "margin-top: 3em;"}
              %small
                %a{:href => "http://4developers.org.pl/"} 4Developers 2013
            %p
              %small
                %a{:href => "http://pl.linkedin.com/in/mikolajpastuszko/"} Mikołaj Pastuszko
                |
                %a{:href => "https://twitter.com/mPastuszko"} @mPastuszko
            %img.affiliation{:src => 'img/xtrf.jpg'}
            %p.license
              %a{:href => "http://pl.linkedin.com/in/mikolajpastuszko/", :rel => "license"}
                © Mikołaj Pastuszko
              %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/", :rel => "license"}
                CC BY-NC-SA
          %section
            %h2 Plan
            %ol.roman
              %li Czym jest używalność?
              %li Garść wiedzy podstawowej
              %li Jak tworzyć?
              %li Jak badać?
          %section
            %h2 Cel
            %p zainteresować dziedziną
            %p i
            %p uświadomić jej znaczenie
        %section.zoom.slow{'data-state' => "blackout"}
          %h1 I
          %h2 Czym jest używalność?
        %section
          %section
            %h1 Zagadka
          %section
            %img.half-height{:src => "img/2.jpg"}/
          %section
            %img{:src => "img/WateringCanRed-super.jpg"}/
            %footer
              %a{:href => 'http://ilp.gb.com/cat/watercan.htm'} | 
              http://www.hisltd.co.uk/YPMA-Watering-Can-Red-10-Litre.html |
          %section
            %img.half-height{:src => "img/1.png"}/
            %footer
              Donald A. Norman – The Design of Everyday Things
          %section
            %img{:src => "img/16.png"}/
          %section
            %img.fill-width{:src => "img/19.png"}/
            %footer
              %a{:href => 'http://streemo.pl/Image/559172_m.jpg'} | 
              http://streemo.pl/Image/559172_m.jpg |
          %section
            %img{:src => "img/27.png"}/
            %footer
              %a{:href => 'http://futureblog.pl/wp-content/uploads/2010/11/pushpulldoor.jpg'} | 
              http://futureblog.pl/wp-content/uploads/2010/11/pushpulldoor.jpg |
          %section
            %img{:src => "img/kubek.jpg"}/
          %section
            %img{:src => "img/gniazdko.jpg"}/
          %section
            %img{:src => "img/taxi.jpg"}/
          %section
            %img{:src => "img/media-markt.jpg"}/
          %section
            %img{:src => "img/pkp1.jpg"}/
          %section
            %img{:src => "img/pkp2.jpg"}/
          %section
            %img.fill-width{:src => "img/confirm-cancel.png"}/
          %section
            %h1.fragment.roll-in Używalność
            %p.fragment.roll-in jest ważna!
          %section
            %h2 Skąd nazwa?
            %ul.minimalist
              %li.fragment{'data-fragment-index' => "1"}
                %b używalny – <i>usable</i>
                %p
                  %i możliwy do wykorzystania, wygodny w użyciu
              %li.fragment.center{'data-fragment-index' => "3"}
                %h2 ≠
              %li.fragment{'data-fragment-index' => "2"}
                %b użyteczny – <i>useful</i>
                %p
                  %i przynoszący pożytek, potrzebny do czegoś
          %section
            %img.fill-height{:src => "img/21.png"}/
            %footer
              %a{:href => 'http://www.montparnas.com/articles/what-is-user-experience-design/'} | 
              http://www.montparnas.com/articles/what-is-user-experience-design/ |
          %section
            %h2 User-Centered Design
          %section
            %h2 Web Usability
        %section.zoom.slow{'data-state' => "blackout"}
          %h1 II
          %h2 Garść wiedzy podstawowej
        %section
          %section
            %h1 Użytkownicy
          %section
            %ul
              %li nie lubią myśleć
              %li.fragment kierują się <strong>intuicją</strong>
              %li.fragment wybierają to, co <strong>satysfakcjonujące</strong>
          %section
            %ul
              %li są <strong>niecierpliwi</strong>
            %blockquote.fragment
              91% osób poddaje się po maksymalnie 3 nieudanych próbach wykonania czynności na stronie WWW.
              %cite Empirix, 2006
          %section
            %ul
              %li nie czytają, a <strong>skanują</strong> wzrokiem
              %li.fragment tylko niektóre fragmenty
            .fragment
              %p
                %img{:src => 'img/12.png'}
              %footer
                %a{:href => 'http://www.ecomzera.com/blog/'} |
                http://www.ecomzera.com/blog/ |
          %section
            %ul
              %li nie widzą reklam – szczególnie, gdy
              %li.minimalist
                %span{:style => 'color: red;'} migają,
                %span{:style => 'color: lime;'} hałasują,
                %span{:style => 'color: fuchsia;'} pląsają!
          %section
            %ul
              %li mają swoje <strong>zadania i intencje</strong>
              %li.fragment nie lubią, jeśli się im przeszkadza
        %section
          %section
            %h1 Standardy
          %section
            %h2 Starsze niż Internet...
            %ul.fragment
              %li typografia
              %li dziennikarstwo
              %li bibliotekoznawstwo
          %section
            %h2 Użytkownicy je lubią
            %ul
              %li.fragment pozwalają <strong>nie myśleć</strong>
              %li.fragment <strong>przyspieszają</strong> naukę
              %li.fragment <strong>ułatwiają</strong> korzystanie
          %section
            %h2 Przykłady
          %section
            %img.fill-width{:src => 'img/23.png'}
            %footer
              %a{:href => 'http://desizntech.info/2009/08/8-web-usability-and-best-practices-for-beginners/'} |
              http://desizntech.info/2009/08/8-web-usability-and-best-practices-for-beginners/ |
          %section
            %img.fill-width{:src => 'img/layout.png'}
          %section
            %h2 Warto korzystać
            %p z doświadczenia innych nauk.
          %section
            %h2 Tylko wyjątkowe sytuacje
            %p wymagają wyjątkowych rozwiązań.
        %section
          %section
            %h1 Nawigacja
          %section
            %h2 Nawigacja informuje
            %ul
              %li gdzie jesteśmy
              %li gdzie możemy iść
              %li gdzie byliśmy
          %section
            %h2 Nawigacja
            %ul
              %li daje poczucie stabilności i orientacji
              %li uspokaja użytkownika
          %section
            %h2 Przykłady
          %section
            %h2 Sekcje, podsekcje
            %img.fill-width{:src => 'img/32.png'}
            %img{:src => 'img/3.png'}
          %section
            %h2 Nawigacja okruszkowa
            %h2 (<i>breadcrumbs</i>)
            %img.fill-width{:src => 'img/17.png'}
          %section
            %h2 Tagi, chmury tagów
            %img.fill-width{:src => 'img/25.png'}
          %section
            %h2 Linki w treści
            %img.fill-width{:src => 'img/links-in-content.png'}
        %section
          %section
            %h1 Wyszukiwanie
          %section
            %img.fill-width{:src => 'img/Castorama.jpg'}
            %footer
              %a{:href => 'http://pl.wikipedia.org/wiki/Castorama'} |
              http://pl.wikipedia.org/wiki/Castorama |
          %section
            %h2 Wyszukujemy, gdy
            %ul
              %li nie udało się znaleźć samemu
              %li <strong>wiemy</strong> czego potrzebujemy
              %li potrzebujemy tego <strong>szybko</strong>
          %section
            %h2 Chcemy wyszukiwać
            %ul
              %li szybko
              %li.fragment.grow trafnie
          %section
            %h2 Wyszukiwarka
            %ul
              %li jasny zakres wyszukiwania
              %li.fragment
                prostota
                %br/
                %q.red.line-through Wyszukaj słowa kluczowe
              %li.fragment wyszukiwanie zaawansowane?
              %li.fragment raczej filtrowanie wyników
        %section
          %section
            %h1 Formularze
          %section
            %img.half-height{:src => 'img/website-frustration1.png'}
          %section
            %h2 Zasady
            %ul
              %li.fragment
                %q Less is more!
              %li.fragment grupowanie
              %li.fragment podział procesu na kroki
              %li.fragment pola obowiązkowe – jak najmniej
          %section
            %img.half-height{:src => 'img/pkm.katowice.pl.png'}
          %section
            %h2 Zasady
            %ul
              %li.fragment rozmiary i odstępy pól
              %li.fragment etykiety pól – umiejscowienie
              %li.fragment formaty danych – nieograniczanie użytkownika
              %li.fragment nieprawidłowe dane – informowanie
        %section
          %section
            %h1 Obsługa błędów
          %section
            %h2 Odpowiednie
            %ul
              %li miejsce
              %li czas
              %li treść
              %li forma
          %section
            %h2 Miejsce
            %ul
              %li obok pola, którego dotyczy
              %li u góry strony
          %section
            %h2 Czas
            %ul
              %li natychmiast, gdy stwierdzony!
          %section
            %h2 Treść
            %ul
              %li Co się stało?
              %li Z czyjej winy?
              %li Co mogę teraz zrobić?
          %section
            %h2 Forma
            %ul
              %li uspokajająca i życzliwa
              %li język zrozumiały dla użytkownika
              %li czerwony kolor, odpowiednia ikona
        %section
          %section
            %h1 Dostępność
            %h2 (<i>accessibility</i>)
          %section
            %img.fill-height{:src => 'img/przejscie.jpg'}
            %footer
              %a{:href => 'http://www.zm.org.pl/?a=przejscie_rozdroze-134'} |
              http://www.zm.org.pl/?a=przejscie_rozdroze-134 |
          %section
            %img.half-height{:src => 'img/color-blindness-samolot.png'}
          %section
            %img.half-height{:src => 'img/color-blindness-samolot-blind.png'}
          %section
            %h2 Kolor
            .fragment
              %h1 7–10%
              %p błędnie rozróżnia czerwony-zielony
          %section
            %h2{:style => 'color: #ccc;'} Kontrast
            %h2.fragment Kontrast
            %h2.fragment{:style => 'color: #00f; background-color: #000; border-radius: 25px; margin: 0 3em;'} Kontrast
          %section
            %h2 Ostrość widzenia
            %table{:style => 'width: 100%;'}
              %tr
                %td.center.fragment
                  %p{:style => 'font-size: 120%;'} krój i rozmiar fonta
                  %p{:style => 'font-size: 100%;'} krój i rozmiar fonta
                  %p{:style => 'font-size: 80%;'} krój i rozmiar fonta
                  %p{:style => 'font-size: 70%;'} krój i rozmiar fonta
                  %p{:style => 'font-size: 60%;'} krój i rozmiar fonta
                  %p{:style => 'font-size: 50%;'} krój i rozmiar fonta
                  %p{:style => 'font-size: 40%;'} krój i rozmiar fonta
                %td.center.fragment
                  %p{:style => 'font-size: 120%; text-shadow: 0 0 10px #333, 0 0 8px #333, 0 0 6px #333, 0 0 6px #333, 0 0 4px #333; 0 0 6px #333, 0 0 6px #333'} krój i rozmiar fonta
                  %p{:style => 'font-size: 100%; text-shadow: 0 0 10px #333, 0 0 8px #333, 0 0 6px #333, 0 0 6px #333, 0 0 4px #333; 0 0 6px #333, 0 0 6px #333'} krój i rozmiar fonta
                  %p{:style => 'font-size: 80%; text-shadow: 0 0 10px #333, 0 0 8px #333, 0 0 6px #333, 0 0 6px #333, 0 0 4px #333; 0 0 6px #333, 0 0 6px #333'} krój i rozmiar fonta
                  %p{:style => 'font-size: 70%; text-shadow: 0 0 10px #333, 0 0 8px #333, 0 0 6px #333, 0 0 6px #333, 0 0 4px #333; 0 0 6px #333, 0 0 6px #333'} krój i rozmiar fonta
                  %p{:style => 'font-size: 60%; text-shadow: 0 0 10px #333, 0 0 8px #333, 0 0 6px #333, 0 0 6px #333, 0 0 4px #333; 0 0 6px #333, 0 0 6px #333'} krój i rozmiar fonta
                  %p{:style => 'font-size: 50%; text-shadow: 0 0 10px #333, 0 0 8px #333, 0 0 6px #333, 0 0 6px #333, 0 0 4px #333; 0 0 6px #333, 0 0 6px #333'} krój i rozmiar fonta
                  %p{:style => 'font-size: 40%; text-shadow: 0 0 10px #333, 0 0 8px #333, 0 0 6px #333, 0 0 6px #333, 0 0 4px #333; 0 0 6px #333, 0 0 6px #333'} krój i rozmiar fonta
          %section
            %h2.margin-bottom CAPTCHA
            %audio.fragment{:controls => true}
              %source{:src => 'snd/captcha.mp3', :type => 'audio/mpeg'}
        %section.zoom.slow{'data-state' => "blackout"}
          %h1 III
          %h2 Jak tworzyć?
        %section
          %section
            %h1 Architektura Informacji
          %section
            %h2 Wywiady
            %img{:src => 'img/18.png'}
            %footer
              %a{:href => 'http://csusap.csu.edu.au/~tfrayn01/paperprototyping.html'} |
              http://csusap.csu.edu.au/~tfrayn01/paperprototyping.html |
          %section
            %h2 Wywiady grupowe
            %h4 (<i>focus groups</i>)
            %img.half-width{:src => 'img/38.png'}
          %section
            %h2 Sortowanie kart
            %img{:src => 'img/26.png'}
            %footer
              Jakob Nielsen
          %section
            %h2 Mapy myśli
            %img{:src => 'img/presentation-concept.png', :style => 'height: 80%'}
        %section
          %section
            %h1 Prototypowanie
          %section
            %h2 Makiety papierowe
            %img{:src => 'img/30.png'}
          %section
            %h2 Wireframes & Mock-ups
            %img{:src => 'img/wireframe.png', :style => 'height: 80%'}
          %section
            %h2 Prototypy
            %img{:src => 'img/prototype.png', :style => 'height: 80%'}
        %section
          %section
            %h1 Persony
          %section
            %img{:src => 'img/persona.gif'}
            %footer
              %a{:href => 'http://www.webcredible.co.uk/user-friendly-resources/web-usability/personas.shtml'} |
              http://www.webcredible.co.uk/user-friendly-resources/web-usability/personas.shtml |
        %section.zoom.slow{'data-state' => "blackout"}
          %h1 IV
          %h2 Jak badać?
        %section
          %section
            %h1 Statystycznie
          %section
            %h2 Ankiety
            %img{:src => 'img/survey.png'}
          %section
            %h2 Odwiedziny i zachowania
            %img{:src => 'img/31.png'}
          %section
            %h2 Mapy kliknięć
            %h4 (<i>clicktracking</i>)
            %img{:src => 'img/29.png'}
          %section
            %h2 Testy A/B
            %img.half-width{:src => 'img/8.png'}
            %footer
              %a{:href => 'http://www.sitedoublers.com/img/a-b-split-test.jpg'} |
              http://www.sitedoublers.com/img/a-b-split-test.jpg |
          %section
            %h2 Zalety i wady
            %p podejścia statystycznego
        %section
          %section
            %h1 Jednostkowo
          %section
            %h2 Obserwacja
            %h4 (<i>usability testing</i>)
            %img.half-height{:src => 'img/7.png'}
            %footer
              %a{:href => 'http://bigbaseinc.com/the-basics-of-great-ux/'} |
              http://bigbaseinc.com/the-basics-of-great-ux/ |
          %section
            %h2 Analiza nagrań
            %img.half-height{:src => 'img/14.png'}
            %footer
              %a{:href => 'http://www.cadfanatic.com/wp-content/uploads/2009/08/DevWatchingUsabilityTest.png'} |
              http://www.cadfanatic.com/wp-content/uploads/2009/08/DevWatchingUsabilityTest.png |
          %section
            %h2 Wywiady
            %img{:src => 'img/18.png'}
            %footer
              %a{:href => 'http://csusap.csu.edu.au/~tfrayn01/paperprototyping.html'} |
              http://csusap.csu.edu.au/~tfrayn01/paperprototyping.html |
          %section
            %h2 Okulografia
            %h4 (<i>eyetracking</i>)
            %img{:src => 'img/11.png'}
            %img{:src => 'img/eyetracker.jpg'}
            %footer
              %p
                %a{:href => 'http://blog.naamane.com/2010/11/comment-faire-un-eye-traking-des-page.html'} |
                http://blog.naamane.com/2010/11/comment-faire-un-eye-traking-des-page.html |
              %p
                %a{:href => 'http://www.mynewsdesk.com/us/pressroom/tobii_technology/image/view/tobii-x2-eye-tracker-compact-edition-mounted-on-a-laptop-176400'} |
                http://www.mynewsdesk.com/us/pressroom/tobii_technology/image/view/tobii-x2-eye-tracker-compact-edition-mounted-on-a-laptop-176400 |
          %section
            %h2 Zalety i wady
            %p podejścia jednostkowego
        %section
          %h1 Prawie koniec...
        %section
          %blockquote
            Aby projektować systemy <b>dla człowieka</b>,
            %br/
            musimy na nie spoglądać <b>jego oczami</b>
            %br/
            na <b>każdym etapie</b> procesu ich powstawania.
        %section
          %h1 KONIEC
          %p
            %small
              %a{:href => "http://pl.linkedin.com/in/mikolajpastuszko/"} Mikołaj Pastuszko
              |
              %a{:href => "https://twitter.com/mPastuszko"} @mPastuszko
          %img.affiliation{:src => 'img/xtrf.jpg'}
          %p.license
            %a{:href => "http://pl.linkedin.com/in/mikolajpastuszko/", :rel => "license"}
              © Mikołaj Pastuszko
            %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/", :rel => "license"}
              CC BY-NC-SA
    %script{:src => "lib/js/head.min.js"}
    %script{:src => "js/reveal.min.js"}
    %script{:src => "js/custom.js"}
    :javascript
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      	controls: true,
      	progress: true,
      	history: true,
      	center: true,

      	theme: 'beige', // available themes are in /css/theme
      	transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

      	// Optional libraries used to extend on reveal.js
      	dependencies: [
      		{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      		{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      		{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      		// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
      	]
      });
